<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner ">
      <!-- BEGIN LOGO -->
      <div class="page-logo">
          <span class="logo">Farecode</span>
          <div class="menu-toggler sidebar-toggler">
              <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
          </div>
      </div>
      <!-- END LOGO -->
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <!-- BEGIN PAGE TOP -->
      <div class="page-top">
          <!-- BEGIN TOP NAVIGATION MENU -->
          <div class="top-menu">
              <ul class="nav navbar-nav pull-right">
                  <!-- BEGIN USER LOGIN DROPDOWN -->
                  <li class="dropdown dropdown-user">
                      <a href="javascript:;" class="dropdown-toggle">
                          <img alt="" class="img-circle" src="./assets/layouts/layout2/img/avatar3_small.jpg" />
                          <span class="username username-hide-on-mobile"> 管理员 </span>
                      </a>
                  </li>
                  <!-- END USER LOGIN DROPDOWN -->
                  <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                  <li class="dropdown dropdown-user">
                      <a href="Javascript:void(0);" class="logout" (click)="btnExit();"><i class="icon-logout"></i></a>
                  </li>
                  <!-- END QUICK SIDEBAR TOGGLER -->
              </ul>
          </div>
          <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END PAGE TOP -->
  </div>
  <!-- END HEADER INNER -->
</div>