<div class="page-content-wrapper">

    <div class="page-content">
  
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="icon-home"></i> 规则模板新建
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="content" class="portlet-body">
            <div class="col-md-12">
              <ul class="nav nav-tabs" style="margin-bottom: 0">
                <li id="t1" class="active">
                  <a href="#tab_2_1" data-toggle="tab" aria-expanded="true"> CAT4 </a>
                </li>
                <li id="t2" class="">
                  <a href="#tab_2_2" data-toggle="tab" aria-expanded="false"> CAT5 </a>
                </li>
                <li id="t2" class="">
                  <a href="#tab_2_3" data-toggle="tab" aria-expanded="false"> CAT6 </a>
                </li>
                <li id="t2" class="">
                  <a href="#tab_2_4" data-toggle="tab" aria-expanded="false"> CAT7 </a>
                </li>
                <li id="t2" class="">
                  <a href="#tab_2_5" data-toggle="tab" aria-expanded="false"> CAT10 </a>
                </li>
                <li id="t2" class="">
                  <a href="#tab_2_6" data-toggle="tab" aria-expanded="false"> CAT16 </a>
                </li>
  
                <li id="t2" class="">
                  <a href="#tab_2_7" data-toggle="tab" aria-expanded="false"> CAT18 </a>
                </li>
                <li id="t2" class="">
                  <a href="#tab_2_8" data-toggle="tab" aria-expanded="false"> CAT19 </a>
                </li>
                <!-- <li id="t2" class="">
                  <a href="#tab_2_9" data-toggle="tab" aria-expanded="false"> CAT23 </a>
                </li> -->
              </ul>
              <div class="tab-content">
                <div class="portlet light tab-pane fade active in" id="tab_2_1">
                  <app-newcatone></app-newcatone>
                </div>
                <div class="portlet light tab-pane fade" id="tab_2_2">
                  <app-newcattwo></app-newcattwo>
                </div>
                <div class="portlet light tab-pane fade" id="tab_2_3">
                  <app-newcatthree></app-newcatthree>
                </div>
                <div class="portlet light tab-pane fade" id="tab_2_4">
                  <app-newcatfour></app-newcatfour>
                </div>
                <div class="portlet light tab-pane fade" id="tab_2_5">
                  <app-newcatfive></app-newcatfive>
                </div>
                <div class="portlet light tab-pane fade" id="tab_2_6">
                  <app-newcatsix></app-newcatsix>
                </div>
                <div class="portlet light tab-pane fade" id="tab_2_7">
                  <app-newcatseven></app-newcatseven>
                </div>
                <div class="portlet light tab-pane fade" id="tab_2_8">
                  <app-newcateight></app-newcateight>
                </div>
                <!-- <div class="portlet light tab-pane fade" id="tab_2_9">
                  <app-newcatnine></app-newcatnine>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  