<div class="form-horizontal">
  <div class="form-group">
      <label class="col-sm-3 control-label">新密码</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" name="password" [disabled]="Parameter.disabled"  [(ngModel)]="Parameter.password">
      </div>
      <div class="clear"></div>
  </div>
  <div class="form-group">
      <label class="col-sm-3 control-label">确认密码</label>
      <div class="col-sm-8">
          <input type="text" class="form-control" name="confirmpass" [disabled]="Parameter.disabled"  [(ngModel)]="Parameter.confirmpass">
      </div>
      <div class="clear"></div>
  </div>
</div>