<div class="row">
  <div class="col-md-12">
    <div class="portlet-title">
      <span class="caption-subject bold uppercase"> CAT16：变更退票费</span>
    </div>
    <div class="col-md-12">
      <div class="portlet light">
        <div class="portlet-body form">
          <div id="od" class="form-group mt-repeater">
            <div class="group">
              <div class="mt-repeater-item">
                <div class="mt-repeater-input">
                  <label class="control-label"> 改期费:</label>
                  <br>
                  <input type="text" class="loc2 form-control" [(ngModel)]="changeFee" />
                  <br>
                  <label class="control-label"> 改期费货币单位:</label>
                  <input type="text" class="loc2 form-control" [(ngModel)]="changeFeeMoneyType" />
                  <div class="form-group md-checkbox-inline">
                      <div class="md-checkbox">
                        <input type="checkbox" id="checkbox1" class="md-check" [(ngModel)]="changeAllowFlag">
                        <label for="checkbox1">
                          <span class="inc"></span>
                          <span class="check"></span>      
                          <span class="box"></span>
                          不允许
                        </label>
                      </div>
                    </div>
                    <textarea id="remark" name="content" [(ngModel)]="remark" class="col-md-12" rows="10"></textarea>

                </div>

                <div class="mt-repeater-input">
                  <label class="control-label"> 退票费:</label>
                  <br>
                  <input type="text" class="loc2 form-control" [(ngModel)]="returnFee"/>
                  <br>
                  <label class="control-label"> 退票费货币单位:</label>
                  <input type="text" class="loc2 form-control" [(ngModel)]="returnFeeMoneyType" />

                  <div class="form-group md-checkbox-inline">
                      <div class="md-checkbox">
                        <input type="checkbox" id="checkbox2" class="md-check" [(ngModel)]="returnAllowFlag">
                        <label for="checkbox2">
                          <span class="inc"></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          不允许
                        </label>
                      </div>
                    </div>
                </div>

                <div class="mt-repeater-input">
                  <label class="control-label"> No-show费:</label>
                  <br>
                  <input type="text" class="loc2 form-control"  [(ngModel)]="noShowFee"/>

                  <br>
                  <label class="control-label"> No-show费货币单位:</label>
                  <input type="text" class="loc2 form-control" [(ngModel)]="noShowFeeMoneyType" />

                  <div class="form-group md-checkbox-inline">
                      <div class="md-checkbox">
                        <input type="checkbox" id="checkbox3" class="md-check" [(ngModel)]="noShowAllowFlag">
                        <label for="checkbox3">
                          <span class="inc"></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          不允许
                        </label>
                      </div>
                    </div>
                <!-- <div class="mt-repeater-input">
                  <label class="control-label">&nbsp;</label>
                  <br>
                  <a href="javascript:;" class="btn btn-success mt-repeater-add" (click)="locationAdd();">
                    <i class="fa fa-plus"></i> 新增
                  </a>
                </div> -->
              </div>
            </div>

          </div>
        </div>
        <!-- <div class="table-scrollable">
            <table class="table table-hover table-bordered table-striped order-column" id="product_list">
              <thead>
                <tr>
                  <th>模板</th>
                  <th>表号</th>
                  <th>允许改期</th>
                  <th>改期费</th>
                  <th>货币单位</th>
                  <th>允许退票/NOSHOW</th>
                  <th>退票费</th>
                  <th>货币单位</th>
                  <th>NO SHOW费</th>
                  <th>货币单位</th>
                  <th>NOTE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of response;let i=index;">
                  <td>{{item.id}}</td>
                  <td>{{item.orig}}</td>
                  <td>{{item.dest}}</td>
                  <td>{{item.origCountry}}</td>
                  <td>{{item.destCountry}}</td>
                  <td>{{item.rule}}</td>
                  <td>{{item.fcl}}</td>
                  <td>{{item.owrt}}</td>
                  <td>{{item.rtg}}</td>
                </tr>
              </tbody>
            </table>
          </div> -->
      </div>
      <div class="form-actions">
        <button id="btn_save" type="button" class="btn blue" (click)="btnSave();">保存</button>
        <!-- <a class="btn default" (click)="btnGoBack();">返回</a> -->
      </div>
    </div>
  </div>
</div>