<div class="page-sidebar-wrapper">
  <!-- END SIDEBAR -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true"
      data-slide-speed="200">
      <li class="nav-item start active">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-home"></i>
          <span class="title">运价管理</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start ">
            <a routerLink="price" class="nav-link ">
              <i class="icon-bar-chart"></i>
              <span class="title">直达运价查询</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="addonprice" class="nav-link ">
              <span class="title">ADDON运价管理</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-diamond"></i>
          <span class="title">产品管理</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="product" class="nav-link ">
              <span class="title">产品查询</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="productedit" class="nav-link ">
              <span class="title">新建产品</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="roletemplate" class="nav-link ">
              <span class="title">规则模板</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="roletemplatenew" class="nav-link ">
              <span class="title">规则模板新建</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-settings"></i>
          <span class="title">系统管理</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="role" class="nav-link ">
              <span class="title">角色管理</span>
            </a>
          </li>

          <!-- <li class="nav-item  ">
            <a routerLink="editrole" class="nav-link ">
              <span class="title">
                新建角色
              </span>
            </a>
          </li> -->
          <!-- <li class="nav-item  ">
                      <a href="data.html" class="nav-link ">
                          <span class="title">数据角色</span>
                      </a>
                  </li> -->
          <li class="nav-item  ">
            <a routerLink="user" class="nav-link ">
              <span class="title">用户管理</span>
            </a>
          </li>
          <!-- <li class="nav-item  ">
            <a routerLink="edituser" class="nav-link ">
              <span class="title">
                新建用户
              </span>
            </a>
          </li> -->

        </ul>
      </li>
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-briefcase"></i>
          <span class="title">审批管理</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="todo" class="nav-link ">
              <span class="title">
                待办任务
              </span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="completed" class="nav-link ">
              <span class="title">
                已办任务
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
  <!-- END SIDEBAR -->
</div>
<p>
  menu works!
</p>
