<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="icon-home"></i> 规则模板
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="content" class="portlet-body">
          <div class="col-md-12">
            <ul class="nav nav-tabs" style="margin-bottom: 0">
              <li id="t1" class="active">
                <a href="#tab_2_1" data-toggle="tab" aria-expanded="true"> CAT4 </a>
              </li>
              <li id="t2" class="">
                <a href="#tab_2_2" data-toggle="tab" aria-expanded="false"> CAT5 </a>
              </li>
              <li id="t2" class="">
                <a href="#tab_2_3" data-toggle="tab" aria-expanded="false"> CAT6 </a>
              </li>
              <li id="t2" class="">
                <a href="#tab_2_4" data-toggle="tab" aria-expanded="false"> CAT7 </a>
              </li>
              <li id="t2" class="">
                <a href="#tab_2_5" data-toggle="tab" aria-expanded="false"> CAT10 </a>
              </li>
              <li id="t2" class="">
                <a href="#tab_2_6" data-toggle="tab" aria-expanded="false"> CAT16 </a>
              </li>

              <li id="t2" class="">
                <a href="#tab_2_7" data-toggle="tab" aria-expanded="false"> CAT18 </a>
              </li>
              <li id="t2" class="">
                <a href="#tab_2_8" data-toggle="tab" aria-expanded="false"> CAT19 </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="portlet light tab-pane fade active in" id="tab_2_1">
                <app-catone></app-catone>
              </div>
              <div class="portlet light tab-pane fade" id="tab_2_2">
                <app-cattwo></app-cattwo>
              </div>
              <div class="portlet light tab-pane fade" id="tab_2_3">
                <app-catthree></app-catthree>
              </div>
              <div class="portlet light tab-pane fade" id="tab_2_4">
                <app-catfour></app-catfour>
              </div>
              <div class="portlet light tab-pane fade" id="tab_2_5">
                <app-catfive></app-catfive>
              </div>
              <div class="portlet light tab-pane fade" id="tab_2_6">
                <app-catsix></app-catsix>
              </div>
              <div class="portlet light tab-pane fade" id="tab_2_7">
                <app-catseven></app-catseven>
              </div>
              <div class="portlet light tab-pane fade" id="tab_2_8">
                <app-cateight></app-cateight>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
