<div class="page-content-wrapper">
  <div class="page-content">
      <div class="box">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="icon-home"></i> 产品信息
        </li>
      </ul>
    </div>
    <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    <div class="row">
      <div id="content" class="portlet-body">
        <div class="col-md-12">
          <ul class="nav nav-tabs" style="margin-bottom: 0">
            <li id="t1" class="active">
              <a href="#tab_2_1" data-toggle="tab" aria-expanded="true"> 产品信息 </a>
            </li>
            <li id="t2" class="">
              <a href="#tab_2_2" data-toggle="tab" aria-expanded="false"> 规则信息 </a>
            </li>
            <li id="t2" class="">
              <a href="#tab_2_3" data-toggle="tab" aria-expanded="false"> 运价信息 </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="portlet light tab-pane fade active in" id="tab_2_1">
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light ">
                    <div class="portlet-body form">
                      <div class="mt-repeater form-horizontal">
                        <div class="mt-repeater-item">
                          <div class="mt-repeater-input">
                            <label class="control-label">产品名称
                              <span class="color-red">*</span>
                            </label>
                            <br>
                            <input id="title" type="text" name="name" [(ngModel)]="data.name" class="form-control" value="">
                          </div>
                          <div class="mt-repeater-input">
                            <label class="control-label">产品类型
                              <span class="color-red">*</span>
                            </label>
                            <select id="type" class="form-control" [(ngModel)]="data.typeV">
                              <option *ngFor="let item of typeList " [value]="item.id">{{item.text}}</option>
                            </select>
                          </div>
                          <div class="mt-repeater-input">
                            <label class="control-label">产品编号
                              <span class="color-red">*</span>
                            </label>
                            <br>
                            <input id="code" type="text" name="num" [(ngModel)]="data.num" class="form-control" value="">
                          </div>
                          <div class="mt-repeater-input">
                            <label class="control-label">客公里收入小于0.35元</label>
                            <br>
                            <label class="mt-checkbox">
                              <input id="isCheck" type="checkbox" name="isgt"  [(ngModel)]="data.kmIncomeFlag" checked />是
                              <span></span>
                            </label>
                          </div>
                        </div>
                        <div class="mt-repeater-item">
                          <div class="mt-repeater-input">
                            <label class="control-label">销售范围
                              <span class="color-red">*</span>
                            </label>
                            <select id="sellScope" class="form-control" [(ngModel)]="data.sellScopeV">
                              <option *ngFor="let item of rangeList " [value]="item.id">{{item.text}}</option>
                            </select>
                          </div>
                          <div class="mt-repeater-input">
                            <label class="control-label">生效日期
                              <span class="color-red">*</span>
                            </label>
                            <br>
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="生效日期" name="validDate" size="16" appDatePicker [(ngModel)]="data.validDate"
                              />
                            </div>
                          </div>
                          <div class="mt-repeater-input">
                            <label class="control-label">失效日期
                              <span class="color-red">*</span>
                            </label>
                            <br>
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="失效日期" name="invalidDate" size="16" appDatePicker [(ngModel)]="data.invalidDate"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="portlet light">
                    <div id="begin" class="portlet-body form">
                      <div class="form-group mt-repeater">
                          <div class="group" >
                              <div class="mt-repeater-item" *ngFor="let item of data.tripDateLimits;let i=index;">
                                <div class="mt-repeater-input">
                                  <label class="control-label">旅行开始日期</label>
                                  <br>
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="开始日期" name="exceptStartTime" size="16" appDatePicker [(ngModel)]="item.beginDate"
                                    />
                                  </div>
                                </div>
                                <div class="mt-repeater-input">
                                  <label class="control-label">结束日期</label>
                                  <br>
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="结束日期" name="exceptEndTime" size="16" appDatePicker [(ngModel)]="item.endDate"
                                    />
                                  </div>
                                </div>
                                <div class="mt-repeater-input" *ngIf="i>0">
                                    <label class="control-label">&nbsp;</label>
                                    <br>
                                    <button class="btn red btn_del" type="button" (click)="btnRemoveTrip(i);">删除</button>
                                </div>
                              </div>
                              <!-- <ng-template #exceptContainer></ng-template> -->
                            </div>
                        <a href="javascript:;" class="btn btn-success mt-repeater-add" (click)="btnAddTrip();">
                          <i class="fa fa-plus"></i> 添加一行
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="portlet light">
                    <div class="portlet-body form">
                      <div id="except" class="form-group mt-repeater">
                        <div class="group" >
                          <div class="mt-repeater-item" *ngFor="let item of data.exceptDateLimits;let i=index;">
                            <div class="mt-repeater-input">
                              <label class="control-label">除外开始日期</label>
                              <br>
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="开始日期" name="exceptStartTime" size="16" appDatePicker [(ngModel)]="item.beginDate"
                                />
                              </div>
                            </div>
                            <div class="mt-repeater-input">
                              <label class="control-label">结束日期</label>
                              <br>
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="结束日期" name="exceptEndTime" size="16" appDatePicker [(ngModel)]="item.endDate"
                                />
                              </div>
                            </div>
                            <div class="mt-repeater-input" *ngIf="i>0">
                                <label class="control-label">&nbsp;</label>
                                <br>
                                <button class="btn red btn_del" type="button" (click)="btnRemoveExcept(i);">删除</button>
                            </div>
                          </div>
                          <!-- <ng-template #exceptContainer></ng-template> -->
                        </div>
                        <a href="javascript:;" class="btn btn-success mt-repeater-add" (click)="btnAddexcept();">
                          <i class="fa fa-plus"></i> 添加一行
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="portlet light">
                    <div class="portlet-body form">
                      <div id="od" class="form-group mt-repeater">
                        <!-- <div class="group">
                          <div class="mt-repeater-item">
                            <div class="mt-repeater-input">
                              <label class="control-label">OD
                                <span class="color-red">*</span>
                              </label>
                              <select id="type" class="form-control" [(ngModel)]="data.country1">
                                <option *ngFor="let item of countryList " [value]="item.id">{{item.text}}</option>
                              </select>
                            </div>
                            <div class="mt-repeater-input">
                              <label class="control-label">&nbsp;</label>
                              <br>
                              <input type="text" class="loc1 form-control" />
                            </div>
                            <div class="mt-repeater-input">
                              <label class="control-label">&nbsp;</label>
                              <select id="type" class="form-control" [(ngModel)]="data.country2">
                                <option *ngFor="let item of countryList " [value]="item.id">{{item.text}}</option>
                              </select>
                            </div>
                            <div class="mt-repeater-input">
                              <label class="control-label">&nbsp;</label>
                              <br>
                              <input type="text" class="loc2 form-control" />
                            </div>
                          </div>
                          <ng-template #locationContainer></ng-template>
                        </div> -->
                        <div class="group" >
                            <div class="mt-repeater-item" *ngFor="let item of data.sellDateLimits;let i=index;">
                              <div class="mt-repeater-input">
                                <label class="control-label">销售开始日期</label>
                                <br>
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="开始日期" name="exceptStartTime" size="16" appDatePicker [(ngModel)]="item.beginDate"
                                  />
                                </div>
                              </div>
                              <div class="mt-repeater-input">
                                <label class="control-label">结束日期</label>
                                <br>
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="结束日期" name="exceptEndTime" size="16" appDatePicker [(ngModel)]="item.endDate"
                                  />
                                </div>
                              </div>
                              <div class="mt-repeater-input" *ngIf="i>0">
                                  <label class="control-label">&nbsp;</label>
                                  <br>
                                  <button class="btn red btn_del" type="button" (click)="btnRemoveSell(i);">删除</button>
                              </div>
                            </div>
                            <!-- <ng-template #exceptContainer></ng-template> -->
                          </div>
                        <a href="javascript:;" class="btn btn-success mt-repeater-add" (click)="btnAddSell();">
                          <i class="fa fa-plus"></i> 添加一行
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet light ">
                    <div class="portlet-title">
                      <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase"> 备注</span>
                      </div>
                    </div>
                    <div class="portlet-body form">
                      <div role="form" class="form-horizontal form-bordered">
                        <div class="form-body">
                          <div class="form-group last">
                            <label class="control-label col-md-2">市场分析</label>
                            <div class="col-md-10">
                              <textarea id="marketAnalysis" name="content" [(ngModel)]="productMoreInfoVO.marketAnalysis" class="col-md-12" rows="10"></textarea>
                            </div>
                          </div>
                          <div class="form-group last">
                            <label class="control-label col-md-2">竞争情况</label>
                            <div class="col-md-10">
                              <textarea id="competition" name="content" [(ngModel)]="productMoreInfoVO.competition" class="col-md-12" rows="10"></textarea>
                            </div>
                          </div>
                          <div class="form-group last">
                            <label class="control-label col-md-2">前期销售情况</label>
                            <div class="col-md-10">
                              <textarea id="preSale" name="content" [(ngModel)]="productMoreInfoVO.preSale" class="col-md-12" rows="10"></textarea>
                            </div>
                          </div>
                          <div class="form-group last">
                            <label class="control-label col-md-2">调整原因及计划</label>
                            <div class="col-md-10">
                              <textarea id="adjustCausePlan" name="content" [(ngModel)]="productMoreInfoVO.adjustCausePlan" class="col-md-12" rows="10"></textarea>
                            </div>
                          </div>
                          <div class="form-group last">
                            <label class="control-label col-md-2">销售预期</label>
                            <div class="col-md-10">
                              <textarea id="saleExpectation" name="content" [(ngModel)]="productMoreInfoVO.saleExpectation" class="col-md-12" rows="10"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="form-actions">
                          <button id="btn_save" type="button" class="btn blue" (click)="btnSave();">保存</button>
                          <a class="btn default" (click)="btnGoBack();">返回</a> 

                          <a href="#" onClick="javascript :history.back(0);">返回上一页</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="portlet light tab-pane fade " id="tab_2_2">
                <div class="row">
                    <div class="col-md-12">
                      <div id="content" class="portlet-body">
                        <div class="col-md-12">
                          <ul class="nav nav-tabs" style="margin-bottom: 0">
                            <li id="t1" class="active">
                              <a href="#tab_3_1" data-toggle="tab" aria-expanded="true"> CAT4 </a>
                            </li>
                            <li id="t2" class="">
                              <a href="#tab_3_2" data-toggle="tab" aria-expanded="false"> CAT5 </a>
                            </li>
                            <li id="t2" class="">
                              <a href="#tab_3_3" data-toggle="tab" aria-expanded="false"> CAT6 </a>
                            </li>
                            <li id="t2" class="">
                              <a href="#tab_3_4" data-toggle="tab" aria-expanded="false"> CAT7 </a>
                            </li>
                            <li id="t2" class="">
                              <a href="#tab_3_5" data-toggle="tab" aria-expanded="false"> CAT10 </a>
                            </li>
                            <li id="t2" class="">
                              <a href="#tab_3_6" data-toggle="tab" aria-expanded="false"> CAT16 </a>
                            </li>
              
                            <li id="t2" class="">
                              <a href="#tab_3_7" data-toggle="tab" aria-expanded="false"> CAT18 </a>
                            </li>
                            <li id="t2" class="">
                              <a href="#tab_3_8" data-toggle="tab" aria-expanded="false"> CAT19 </a>
                            </li>
                            <!-- <li id="t2" class="">
                              <a href="#tab_3_9" data-toggle="tab" aria-expanded="false"> CAT23 </a>
                            </li> -->
                          </ul>
                          <div class="tab-content">
                            <div class="portlet light tab-pane fade active in" id="tab_3_1">
                              <app-catone  [InputproductId]="InputproductId"></app-catone>
                            </div>
                            <div class="portlet light tab-pane fade" id="tab_3_2">
                              <app-cattwo  [InputproductId]="InputproductId"></app-cattwo>
                            </div>
                            <div class="portlet light tab-pane fade" id="tab_3_3">
                              <app-catthree  [InputproductId]="InputproductId"></app-catthree>
                            </div>
                            <div class="portlet light tab-pane fade" id="tab_3_4">
                              <app-catfour  [InputproductId]="InputproductId"></app-catfour>
                            </div>
                            <div class="portlet light tab-pane fade" id="tab_3_5">
                              <app-catfive  [InputproductId]="InputproductId"></app-catfive>
                            </div>
                            <div class="portlet light tab-pane fade" id="tab_3_6">
                              <app-catsix  [InputproductId]="InputproductId"></app-catsix>
                            </div>
                            <div class="portlet light tab-pane fade" id="tab_3_7">
                              <app-catseven  [InputproductId]="InputproductId"></app-catseven>
                            </div>
                            <div class="portlet light tab-pane fade" id="tab_3_8">
                              <app-cateight  [InputproductId]="InputproductId"></app-cateight>
                            </div>
                            <!-- <div class="portlet light tab-pane fade" id="tab_3_9">
                              <app-catnine  [InputproductId]="InputproductId"></app-catnine>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="portlet light tab-pane fade " id="tab_2_3">
                <app-productprice [InputproductId]="InputproductId"></app-productprice>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
