<div class="mt-repeater-item">
    <div class="mt-repeater-input">
      <label class="control-label">旅行开始日期</label>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" name="startTime" size="16" appDatePicker [(ngModel)]="startTime"
        />
      </div>
    </div>
    <div class="mt-repeater-input">
      <label class="control-label">结束日期</label>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" name="endTime" size="16" appDatePicker [(ngModel)]="endTime" />
      </div>
    </div>
    <div class="mt-repeater-input">
      <label class="control-label">&nbsp;</label>
      <br>
      <button class="btn red btn_del" type="button" (click)="remove();">删除</button>
    </div>
  </div>
  