<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <div class="box">
      <!-- BEGIN PAGE HEADER-->
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="icon-home"></i> 编辑用户
          </li>
        </ul>
      </div>
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- END PAGE HEADER-->
      <div class="row">
        <div class="col-md-12">
          <!-- BEGIN SAMPLE TABLE PORTLET-->
          <div class="portlet light form">
            <div class="portlet-body">
              <div id="info" role="form">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>人员编号</label>
                        <input type="text" class="id form-control" placeholder="人员编号" [(ngModel)]="data.userNo">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>用户姓名
                          <span class="color-red ">*</span>
                        </label>
                        <input type="text" class="name form-control" placeholder="用户姓名" [(ngModel)]="data.name">
                      </div>
                    </div>
                    <!-- <div class="col-md-3">
                                        <div class="form-group">
                                            <label>数据角色</label>
                                            <select class="data form-control">
                                               <option>系统管理员</option>
                                               <option>营业员</option>
                                               <option>售票员</option>
                                           </select>
                                        </div>
                                    </div> -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>职务</label>
                        <input type="text" class=" form-control" placeholder="电子邮件" [(ngModel)]="data.title">
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>电子邮件</label>
                        <input type="text" class="email form-control" placeholder="电子邮件" [(ngModel)]="data.email">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>角色</label>
                        <select  class="form-control" [(ngModel)]="data.roleId">
                          <option *ngFor="let item of roleList " [value]="item.id">{{item.text}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>电话</label>
                        <input type="text" class="tell form-control" placeholder="" [(ngModel)]="data.telephone">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>传真</label>
                        <input type="text" class="tell form-control" placeholder="" [(ngModel)]="data.fax">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>手机</label>
                        <input type="text" class="phone form-control" placeholder="" [(ngModel)]="data.mobile">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>登录名</label>
                        <input type="text" class="user form-control" placeholder="登录名" [(ngModel)]="data.username">
                      </div>
                    </div>
                    <div class="col-md-3"  *ngIf="data.id==''">
                      <div class="form-group">
                        <label>密码</label>
                        <input type="text" class="user form-control" placeholder="密码" [(ngModel)]="data.password">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>RTX名称</label>
                        <input type="text" class="rtx form-control" placeholder="RTX名称" [(ngModel)]="data.rtx">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions text-center">
                  <button id="btn_reset" type="button" *ngIf="data.id!=''" class="btn red" (click)="btnModify();">修改密码</button>
                  <button id="btn_save" type="button" class="btn green" (click)="btnSave();">保存</button>
                  <a class="btn default" (click)="btnBack();">取消</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END SAMPLE TABLE PORTLET-->
        </div>
      </div>
      <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
  </div>
</div>
<app-modal [ComponentName]="ComponentName" (SubmitEvent)="btnSubmit($event)"></app-modal>